<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/assets/style.css"

</head>

<body>









    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <p class="title"></p>
                <p>
                    <%= title %>
                </p>
            </div>
            <div class="flip-card-back">
                <p style="padding: 5px;">
                    <%= message %>
                </p>
                <form action="/form-data" method="post" class="container">
                    <input type="text" name="Name" placeholder="Enter your name">
                    <input type="text" name="Email" placeholder="Enter your email">
                    <input type="password" name="Password" placeholder="Enter your password">
                    <button type="submit">Submit</button>
                </form>

             
            </div>
        </div>
    </div>

 



</body>

</html>